<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
  <link rel = "stylesheet" href = "header.css">
  <link rel = "stylesheet" href = "cv.css">
</head>
<body>
  <%- include("header.ejs")%>

  <main>
    <div>
      <iframe src = "BavneetCV2025.pdf"></iframe>
    </div>
  </main>

  <%- include("footer.ejs") %>
</body>
</html>