<header>
  <nav>
    <ul>
      <img src="Logo.png">
      <li id="Home">Home</li>
      <li id="Projects">Projects</li>
      <li id="CV">CV</li>
      <li id="Blogs">Blogs</li>
      <li id="Photography">Photography</li>
    </ul>
  </nav>
</header>