<header>
  <nav>
    <ul>
      <a href = "/" id = "logo-link">
        <img id = "logo" src = "Logo.png">
      </a>
      <a href ="/">
        <li id="Home">Home</li>
      </a>
      <a href="/projects">
        <li id="Projects">Projects</li>
      </a>
      <a href = "/cv">
        <li id="CV">CV</li>
      </a>
      <a href="/photography">
        <li id="Photography">Photography</li>
      </a>
    </ul>
  </nav>
</header>