<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel = "stylesheet" href="index.css">
</head>
<body>
  <%- include("header.ejs")%>
  <main>
    <div id = "image">
        <img src="background.jpg">
    </div>
    <div id="profile">
      <div id="my-info">
        <img src="Me.png" id="me">
        <div class="info">Name: Bavneet Singh</div>
        <div class="info">Role: Second-Year CS Student</div>
        <div class="info">University: University of Surrey</div>
        <div class="info">Degree: Computer Science BSc</div>
        <div class="info">Location: London</div>
        <div class="info">Email: <a href="mailto:mr.bavneet.singh@gmail.com">mr.bavneet.singh@gmail.com</a></div>
        <div id="contact-icons">
          <div id="email">
            <img src="letter.png">
          </div>
          <div id="instagram">
            <img src="insta.png">
          </div>
          <div id="snapchat">
            <img src="snap.png">
          </div>
          <div id="linkedin">
            <img src="linkedin.png">
          </div>
        </div>
      </div>
      <div id="about-me">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum distinctio optio debitis nostrum illo, incidunt doloribus? Suscipit atque fuga veritatis provident, enim ipsum nihil aliquam eligendi maxime corporis iusto accusamus quae distinctio mollitia, voluptas facere quos commodi? Neque quidem amet nesciunt eius laboriosam odit ratione maxime maiores veniam, molestias, eveniet, quae perspiciatis quia dolorum possimus eaque accusantium temporibus repudiandae illo. Animi quod dignissimos eum eaque eos, impedit, nihil maiores, iure molestias distinctio id deleniti officiis reiciendis sapiente blanditiis et vel nemo porro cupiditate libero odio laboriosam! Iure distinctio fugit molestiae maiores esse hic voluptas, debitis consectetur quo doloribus! Eveniet, sed!
      </div>
    </div>
    <div id="divider">
      Projects . Projects . Projects . Projects . Projects . Projects . Projects . Projects. Projects . Projects . Projects. Projects . Projects . Projects
    </div>
    <div id="project-overview">
      <div id = "project1" class = "project-border">
        <div class = "project-image">
          project1 circular picture hover it will come into colour and without it will stay faded
        </div>
        <div class = "project-caption">
          This project will be a database one
        </div>
      </div>
      <div id="project2" class = "project-border">
        <div class = "project-image">
          project2 circular picture hover it will come into colour and without it will stay faded
        </div>
        <div class="project-caption">
          This project will be an api use one
        </div>
      </div>
      <div id="project3" class = "project-border">
        <div class="project-image">
          project3 circular picture hover it will come into colour and without it will stay faded
        </div>
        <div class = "project-caption">
          This project will be a game mabye idk or maybe trying to use A.I.
        </div>
      </div>
    </div>
    <div></div>
  </main>

 <%- include("footer.ejs") %>
</body>
</html>