<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photography</title>
  <link rel = "stylesheet" href = "header.css">
  <link rel = "stylesheet" href = "photography.css">
</head>
<body>
  <%- include("header.ejs")%>

  <main>
    <div id = "gallery-grid">
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture1" class = "pictures" src = "picture1.png">
        </div>
        <div class = "caption">
          University of Surrey
        </div>
      </div>
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture2" class = "pictures" src = "picture2.png">
        </div>
        <div class = "caption">
          Switzerland
        </div>
      </div>
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture3" class = "pictures" src = "picture3.jpg">
        </div>
        <div class = "caption">
          United Arab Emirates
        </div>
      </div>
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture4" class = "pictures" src = "picture4.png">
        </div>
        <div class = "caption">
          Isle of Wight
          </div>
      </div>
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture5" class = "pictures" src = "picture5.jpg">
        </div>
        <div class = "caption">
          India
          </div>
      </div>
      <div class = "picture-border">
        <div class = "picture-container">
          <img id = "picture6" class = "pictures" src = "picture6.png">
        </div>
        <div class = "caption">
          Netherlands
          </div>
      </div>
    </div>
    
  </main>

  <%- include("footer.ejs") %>
</body>
</html>