<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel = "stylesheet" href = "header.css">
  <link rel = "stylesheet" href = "projects.css">
</head>
<body>
  <%- include("header.ejs")%>

  <main>
    <div class = "project-block">
      <div class = "project-image">
        <img src = "database.jpg" id = "database-image">
      </div>
      <div class = "project-title">
        Database Project
      </div>
      <div class = project-description>
        Description
      </div>
    </div>
    <div class = "project-block">
      <div class = "project-image">
        <img src = "api.png" id = "api-image">
      </div>
      <div class = "project-title">
        API Project
      </div>
      <div class = project-description>
        Description
      </div>
    </div>
    <div class = "project-block">
      <div class = "project-image">
        <img src = "game.jpeg" id = "game-image">
      </div>
      <div class = "project-title">
        Game Project
      </div>
      <div class = project-description>
        Description
      </div>
    </div>
  </main>

  <%- include("footer.ejs") %>
</body>
</html>